html {
   box-sizing: border-box;
}

*,
*::after,
*::before {
   box-sizing: inherit;
}

a {
   text-decoration: none;
   color: inherit;
}

button {
   padding: 0;
   border: none;
   background-color: transparent;
}

ul {
   list-style: none;
}

.title {
   color: #151618;
   font-size: 40px;
   font-family: "Cormorant", serif;
   font-weight: 400;
   text-align: center;
   padding-bottom: 50px;
}

.container {
   max-width: 1240px;
   margin: 0 auto;
   padding-left: 20px;
   padding-right: 20px;

}

body {
   font-family: 'Open Sans', sans-serif;
   color: #151618;
   font-size: 20px;
   font-weight: 300;
   line-height: normal;
   position: relative;

}

.header__inner {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 30px 0;
   min-height: 140px;
}

.logo {
   margin-bottom: 35px;
}

.menu__btn {
   display: none;
   width: 40px;
   height: 20px;
   flex-direction: column;
   justify-content: space-between;
   position: relative;
   z-index: 2;

}

.mobile-nav,
.menu__close {
   display: none;

}

.menu--close {
   display: none;
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   background-color: rgb(0, 0, 0, .5);
   z-index: 1;
   transition: background-color .8s ease-in-out;
}

.menu--close.menu--open {
   display: block;

}


.menu__btn span {

   background-color: #000;
   height: 2px;
   width: 100%;
}


.menu__list {
   display: flex;
   align-items: center;
   gap: 0 65px;
   font-size: 18px;
   font-weight: 400;
   margin-left: 85px;
   position: relative;
   z-index: 3;
}


.user-actions {
   display: flex;
   align-items: center;
   gap: 0 20px;
}

.user-actions__item-search {
   margin-left: 80px;
}

.top {
   background-image: url(../images/top-bg.jpg);
   background-repeat: no-repeat;
   background-position: bottom left;
   background-size: cover;

}

.top__inner {
   min-height: 500px;
   color: #fff;
   font-family: "Cormorant", serif;
   font-weight: 400;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
}

.top__title {
   line-height: 1;
   font-size: 60px;
   margin-bottom: 20px;
   max-width: 780px;
   font-weight: 400;
}

.top__text {
   font-size: 24px;
   margin-bottom: 48px;
   max-width: 560px;

}

.blockquote__text {
   text-align: center;
   font-family: "Cormorant", serif;
   font-size: clamp(1.25rem, 0.784rem + 1.96vw, 2.5rem);
   font-style: italic;
   font-weight: normal;
   max-width: 704px;
   margin: 150px auto;
}

.assortment__list {
   display: flex;
   justify-content: space-around;
   gap: 0;
   flex-wrap: wrap;
   row-gap: 0px;

}

.assortment__title {
   margin-top: 50px;
   text-align: center;
   font-size: clamp(1.5rem, 1.127rem + 1.57vw, 2.5rem);
   font-family: "Cormorant", serif;
   margin-bottom: 60px;
}

.assortment__name {
   font-size: 24px;
   font-family: "Cormorant", serif;
   color: #151618;
   text-align: center;
   padding-top: 10px;
}

.assortment__img {
   max-width: 208px;
   max-height: 208px;
   width: 100%;

}

.opinion {
   height: 400px;
   
}

.opinion__title {
   color: #151618;
   font-size: clamp(1.5rem, 1.127rem + 1.57vw, 2.5rem);
   font-family: "Cormorant", serif;
   text-align: center;
   margin-top: 210px;
   margin-bottom: 60px;
}

.swiper {
   overflow: hidden;
}

.swiper-wrapper {
   display: inline-flex;
}

.opinion-slide__text {
   max-width: 280px;
   font-style: italic;
   font-family: "Open Sans";
   font-weight: 300;
   
}

.opinion-slide__name {
   font-size: 20px;
   font-family: "Open Sans";
   font-weight: 600;
   padding-top: 10px;
}

.swiper-button-next,
.swiper-button-prev {
  margin: 10px;
   display: none;
}

.slider-btn {
   display: flex;
   justify-content: space-between;

}

.swiper-button-prev {
   transform: rotate(180deg);
}

.mailing-list__title {
   text-align: left;
}

.opinion {

   margin-top: 150px;
}

.opinion__title {
   padding-bottom: 50px;
}

.assortment__title {
   padding-bottom: 150px;
}

.main-blog__title {
   padding: 50px 0;
   font-size: clamp(1.5rem, 1.127rem + 1.57vw, 2.5rem);
}

.main-blog__list {
   display: flex;
   flex-wrap: wrap;
   gap: 40px 58px;
}

.main-blog__item {
   flex-basis: 542px;
   display: flex;
   gap: 0 20px;
}


.main-blog__item-title {
   font-size: 24px;
   font-family: "Cormorant", serif;
   font-weight: 400;
   min-height: 86px;
   word-wrap: break-word;
}

.main-blog__item-author {
   font-family: 'Open Sans';
   font-weight: 300;
   font-size: 13px;
   padding-top: 10px;
}

.main-blog__item-link {
   position: relative;
   font-size: 13px;
   margin-top: auto;
}

.main-blog__item-content {
   display: flex;
   flex-direction: column;

}

.main-blog__item-link::after {
   content: '';
   background-image: url(../images/arrow-read.svg);
   width: 5px;
   height: 10px;
   position: absolute;
   margin-left: 6px;
   bottom: 1px;
}

.main-blog__link {
   display: flex;
   justify-content: center;
   margin: 60px auto 70px;
   width: 152px;
   padding: 15px;
   border: solid 1px #151618;
}

.mailing-list__inner {
   display: flex;
   gap: 60px 40px;
}

.mailing-list {
   padding: 100px 0;
   background-color: #F7f2ea;
   background-image: url(../images/tea.png);
   background-repeat: no-repeat;
   background-position: bottom right;
}

.mailing-list__text {
   line-height: 1.5;
   flex-basis: 580px;
}

.mailing-list__form {
   display: flex;
   flex-wrap: wrap;
   flex-basis: 580px;
}

.mailing-list__email {
   font-family: "Open Sans", sans-serif;
   background-color: rgba(0, 0, 0, 0);
   border: none;
   border-bottom: 1px solid #B8B58B;
   padding: 3px 15px;
   width: clamp(12.813rem, 5.469rem + 29.38vw, 27.5rem);
   margin-right: 20px;
   color: #151618;
   font-size: 20px;
   font-style: normal;
   font-weight: 400;
   line-height: 1.50;
}

.mailing-list__email::placeholder {
   font-family: "Open Sans", sans-serif;
   color: #B8B58B;
   font-size: 20px;
   font-style: normal;
   font-weight: 400;
   line-height: 1.50;

}

.mailing-list__btn {
   font-family: "Open Sans", sans-serif;
   font-size: 20px;
   border: 1px solid #000;
   padding: 12px 40px;
   background-color: #fff;
   font-weight: 300;
   cursor: pointer;
}

.mailing-list__label {
   margin-top: 16px;
}

.checkbox {
   position: absolute;
   width: 1px;
   height: 1px;
   clip: rect(0, 0, 0, 0);
   overflow: hidden;
   padding-left: 20px;
}

.checkbox__style {
   position: absolute;
   width: 10px;
   height: 10px;
   border: 1px solid #151618;
}

.checkbox__text {
   font-size: 13px;
   font-weight: 300;
   padding-left: 20px;
}

.checkbox:checked+.checkbox__style::before {
   content: '';
   position: absolute;
   width: 6px;
   height: 6px;
   background-color: #151618;
   top: 1px;
   bottom: 1px;
   left: 1px;
}

.prioritise__inner {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   gap: 50px;
}

.prioritise {
   margin-top: 150px;
   margin-bottom: 60px;
}

.prioritise__item {
   text-align: center;

}

.prioritise__title {
   font-size: 40px;
   font-weight: 300;
   margin-bottom: 60px;
}

.prioritise-item__title {
   font-size: 30px;
   font-weight: 300;
   margin-bottom: 10px;
}

.prioritise__text {
   font-size: 20px;
   font-weight: 600;
   padding-bottom: 30px;
}















/*===================================MEDIA=====================================================================================================================
*/
@media (max-width:1200px) {
   .main-blog__item-img {
      width: 230px;
      height: 153px;
   }

   .main-blog__list {
      gap: 10px;
      display: grid;
      grid-template-columns: auto auto;
      grid-row: 20px;
   }
}

@media (max-width:1000px) {
   .user-actions__item-search {
      margin-left: 30px;
   }

   .menu {
      margin-right: auto;
   }

   .menu__list {
      margin-left: 60px;
   }

   .logo {
      margin-bottom: 0;
   }

   .header__inner {
      min-height: auto;
   }

   .blockquote__text {
      margin-top: 120px;
      margin-bottom: 135px;
   }

}

@media (max-width:880px) {
   .menu__list {
      transform: translateY(-100%);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 480px;
      margin: 0 auto;
      background-color: #fff;
      display: block;
      text-align: center;
      padding-top: 60px;
      transition: transform .5s ease-in-out;
   }

   .menu__list.menu__list--open {
      transform: translateY(0%);
   }

   .menu__close-btn {
      position: absolute;
      top: 20px;
      right: 20px;
   }

   .menu__item {
      margin-bottom: 30px;
      font-size: 24px;
      font-family: "Cormorant", serif;
   }

   .mobile-menu {
      padding-top: 60px;
      margin: 60px 30px;
      border-top: 2px solid #F7E3EA;

   }

   .menu__btn {
      display: flex;

   }

   .mobile-nav,
   .menu__close {
      display: block;
   }

   .menu {
      order: -1;
      margin-right: 0;
   }

   .mobile-actions {
      background-color: #F7E3EA;
      display: flex;
      justify-content: space-around;
      margin-bottom: 18px;
   }

   .mobile-menu__item {
      margin-bottom: 35px;

   }

   .logo {
      margin-left: auto;
      margin-right: 154px;
   }
   .main-blog__list{
      display: flex;
      flex-direction: column;
      margin-left: 60px;
      margin-right: 60px;
   }
   .main-blog__item-img{

   }
   .main-blog__item{
      flex-basis: auto;
   }

}

@media (max-width:768px) {
   .header__inner {
      padding-left: 64px;
      padding-right: 64px;
   }

   .blockquote__text {
      max-width: 640px;
   }

   .swiper-button-next,
   .swiper-button-prev {
      display: block;
   }

}

@media (max-width:680px) {
   .container {
      padding-left: 10px;
      padding-right: 10px;
   }

   .header__inner {
      padding-right: 0;
      padding-left: 0;
   }

   .top__title {
      font-size: 40px;

   }

   .blockquote__text {

      max-width: 376px;
      margin-top: 60px;
      margin-bottom: 60px;
   }
}




@media (max-width:480px) {

   .opinion-slide__text,
   .opinion-slide__name {
      text-align: center;
      margin: 0 auto;
   }

   .logo {
      margin-right: 80px;
   }

   .logo img {
      width: 40px;
   }

   .menu__list {
      max-width: 360px;
   }

   .assortment__item {
      flex: 1 160px;
      max-width: 160px;
      width: 100%;
   }

   .assortment__title {
      /* font-size: 24px; */
      margin-top: 0;
   }

}

@media (max-width:360px) {
   .logo {
      margin-right: 50px;
   }

   .user-actions__item-search {
      margin-left: 0;
   }

   .header__inner {
      padding: 10px 0;

   }

   .top__title {
      font-size: 24px;
      margin-bottom: 10px;
   }

   .top__text {
      font-size: 13px;
      margin-bottom: 30px;
   }

   .top__inner {
      min-height: 367px;
   }

   .blockquote__text {
      max-width: 340px;
      margin-top: 70px;
      margin-bottom: 80px;
   }

}